.button-basic {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.button-report {
  @extend .button-basic;
  background-color: red;
}

.button-submit {
  @extend .button-basic;
  color: red;
  font-size: 18px;
}